
<mat-card class="mat-card-principal">
<mat-card-header>
  <mat-card-title>Inserir Usuário</mat-card-title>
</mat-card-header>
  <mat-card-content>
    <mat-form-field class="mat-form-principal"  appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="usuario.nome" placeholder="Digite seu nome" type="text">
    </mat-form-field>

    <mat-form-field class="mat-form-principal"  appearance="fill">
      <mat-label>CPF</mat-label>
     <input matInput [(ngModel)]="usuario.cpf" type="text" placeholder="digite o cpf">
    </mat-form-field>

    <mat-form-field class="mat-form-principal" appearance="fill">
      <mat-label>Idade</mat-label>
     <input matInput [(ngModel)]="usuario.idade" type="number" placeholder="digite a idade">
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
      <button  mat-fab  color="primary" (click)="inserirUsuario()">
        <mat-icon>person_add</mat-icon>
      </button>
  </mat-card-footer>
</mat-card>
  <mat-card class="mat-card-simples" *ngFor="let usuario of usuarios">
    <mat-card-header>
      <mat-card-title><mat-icon>person</mat-icon>{{usuario.nome}}</mat-card-title>
      <mat-card-subtitle *ngIf="usuario.cpf">CPF:{{usuario.cpf}} Idade:{{usuario.idade  }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut molestie urna.
      Donec a elit ac dui gravida facilisis. Phasellus elementum nulla tellus,</mat-card-content>
  </mat-card>


